
        /* Estilo para la cabecera de la tabla */
th {
            background-color: #777D83; /* Cambia este valor al color que desees */
            color: #fff; /* Cambia este valor al color del texto que desees */
            padding: 10px; /* Añade espacio interno para mejorar la apariencia */
}
